    @import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
    /*  #402E32 brown
        #C1554E
        #FFF
        #fff
     */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1500px;
    padding: 0px 80px;
    margin:auto 0px auto 0px;
}


/* section styling */
section{
    padding: 100px 0;
    height: 100vh;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 20px;
    font-family: 'Zen Old Mincho';
} 

 /**/
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: white;
    padding: 0 5px;
    background: #402E32;
    transform:translateX(-50%)
} 


/* button styling */
.pg-btn a{
    
    background-color: #c1564e6e;
    font-size: 25px;
    color: #402e32;
    border: 1px solid rgb(255 255 255 / 99%);
    border-radius: 6px;
    display: inline-block;
    margin: 20px auto;
    padding: 10px 25px;
    font-weight: 600;
}

.pg-btn a:hover{
    
    background-color: #c1564e3a ;
    color: #402E32;


}


/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Zen Old Mincho';
    transition: all 0.3s ease;
    z-index: 999;
    /* background-color: #ffffff30; */
    background: linear-gradient(#ffffffa8, #ffffff00);
}   
.navbar.sticky{
    background: #C1554E;
    padding: 15px 0;
}

.navbar .max-width{

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .logo a{
    padding: 10px 0px;
    color: #402E32;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a:hover{
    color: #C1554E ;
}

.navbar .logo a span{
    color: #C1554E ;
}

.navbar.sticky .logo a{
    color:#fff;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    
}

.navbar .menu li a{
    color: #402E32;
    font-size: 20px;
    font-weight: 600;
    margin-left: 25px;
    transition: color 0.3s ease;
    padding: 10px 0px;
}

.navbar .menu li a:hover{
    color: #C1554E;    
}    

.navbar.sticky .menu li a{
    color: #fff;
}

.navbar.sticky .menu li a:hover{
    color: #402E32;
}
.navbar.sticky .logo a:hover{
    color: #402E32;

}

/* menu button styling */
.menu-btn{
    display: none;
    position: relative;

    color: #fff;
    font: 25px ;
    cursor: pointer;
}


/* home section styling */
.home{
    display:flex;
    background: url("resources/yellow_wall.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: bottom;
    height: 100vh;
    width: 100%;
    color:#402E32;
    min-height: 500px;
    font-family: 'Zen Old Mincho';
}

.home .max-width{
    
    padding-top: 7px; 
    padding-bottom: 7px; 
    background-color:  rgba(255, 255, 255, 0.45);
    /* background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.424)); */
}
.home .home-content .text-1{
    font-size: 30px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -2px;
}
.home .home-content .text-3{
    font-size: 30px;
    
}
.home .home-content .text-3 span{
    color: #C1554E ;
    font-weight: 600;
}



/* about section styling */
.about{
    background: #402E32; /*url("resources/rand.jpg") no-repeat center;*/
    background-size: cover;
    background-attachment: fixed;
    background-position-y: bottom;
    width: 100%;
    color: #fff;
    font-family: 'Zen Old Mincho';
}

.about .title::after{
    content: "who i am";
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-between;
}

.about-content .right{
    width: 45%;
}

.about-content .left{
    width: 55%;
}

.about-content .left img{
    width: 50vh;
    height: 50vh;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color:crimson;
}

.about .about-content .right p {
    text-align: justify;
}


/* skills section styling */

.skills{
    background: #fff;
    font-family: 'Zen Old Mincho';
    width: 100%;
}

.skills .skills-content{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right{
    width: 40%;
}

.skills .skills-content .left{
    width: 50%;
}

.skills .title::after{
    content: "what i know";
}

.skills .skills-content .right img{
    width: 400px;
    height: 400px;
    border-radius: 6px;
}

/* projects styling section */

.projects{
    background: #402e32;
    color: #fff;
    font-family: 'Zen Old Mincho';
}

.projects .max-width{
    height: 70%;
}

.projects .title::after{
    content: "what I have done";
}

.projects-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 50px;
    
}

.projects-content a{
    color: #fff;
    
}

.box {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.178);

    
}

.box:hover{
    background: rgba(219, 83, 83, 0.178);
}

.box .box-title{
    height: 20%;
    color: #fff;
    text-align: center;
    
    font-size: 30px;
    font-weight: 500;
    margin: 15px;
}

.box .box-details{
    height: 80%;
    text-align: center;
    margin: 20px;
    /* justify-content: center; */
}



/* contact styling section */
.contact{
    background: #fff;
    font-family: 'Zen Old Mincho';
    /* min-height: 650px; */
}

.contact .title::after{
    content: "Talk to me";
}

.contact h3{
    text-align: center;
}

.contact .contact-details{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.contact .contact-details .left{
    width: 50%;
}

.contact .contact-details .left .contact-info .info .name{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.contact .contact-details .left .contact-info .info .value{
    text-align: center;
    
}

.contact .contact-details .right{
    width: 30%;
}


footer{
    font-family: 'Zen Old Mincho';
    text-align: center;
    margin: -0px;
    /* margin-bottom: 10px; */
}

/* responsive media query start */

@media(max-width:823px){
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 25px;
    }
}

@media(max-width: 789px){

    .max-width{

        padding: 0px 50px; 
     }    

     .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #C1554E;
        right: -100%;
        top: 0;
        text-align: center ;
        transition: all 0.3s ease;
     }

     .navbar .menu.active{
        right: 0;
    }

     .navbar .menu li{
        display: block;
        
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        color: #fff;
        
    }
    .navbar .menu li a:hover{
        color: #402E32;

    }
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }
 
}



@media(max-width: 590px){

    .max-width{

        padding: 0px 20px; 
     }    

    .home .home-content .text-2{
        font-size: 55px;
    }
    .home .home-content .text-3{
        font-size: 20px;
    }
}

@media(max-width: 500px){

    .max-width{

        padding: 0px 15px; 
     }    

    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 15px;
    }
}

